/* Variables */
/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px */
}

body {
  font-family: "Lato", sans-serif;
  background-color: #fff;
}

h1 {
  text-align: center;
  padding: 10px;
  margin: 10px;
  font-size: 20rem;
  color: #d2142c;
}

h2 {
  text-align: center;
  font-size: 3rem;
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: #d2142c;
}

a {
  text-decoration: none;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

/* Variables */
/* Header */
.navContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.mensaje-bienvenida {
  background-color: #d2162c;
  color: #ecf0f1;
  text-align: center;
  padding: 20px;
  margin-bottom: 10px;
}

.banner img {
  width: 100%;
}

.publicidad {
  color: #ecf0f1;
  background-color: #141212;
  padding: 5px 0;
  font-size: 17px;
  text-align: center;
  text-transform: uppercase;
}

.container-publicidad {
  padding-right: 20px;
  padding-left: 20px;
}

.espacio {
  width: 100%;
}
.espacio .espacio {
  width: 100%;
}
.espacio .espacio span {
  width: 100%;
}

.body-tienda header {
  position: relative;
}
.body-tienda header main {
  margin: 10rem;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}
header a {
  text-decoration: none;
  color: #000;
}

.menu {
  display: flex;
  justify-content: space-around;
}
.menu li {
  padding: 0 0.1rem;
}
.menu li a {
  color: #000;
  background-color: #fff;
  padding: 0.8rem;
  border-radius: 2rem;
  transition: all 0.5s;
}
.menu li a:hover {
  background-color: #d2142c;
  color: #000;
}

.sub-menu ul li a {
  color: #000;
  background-color: #d2142c;
  padding: 0.8rem;
  border-radius: 2rem;
  transition: all 0.5s;
}

.container-fluid {
  height: 90%;
  width: 100%;
}

.carousel-inner {
  height: 300px;
}
.carousel-inner img {
  height: 300px;
}

.banner {
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
  margin-bottom: 3rem;
}

.logo {
  width: 4rem;
  border-radius: 50%;
  padding: 0.5rem;
}
.logo img {
  width: 100%;
  height: auto;
  background-color: #fff;
}

/*Main Y Grid */
.espacio-banner {
  margin-bottom: 20px;
}

.container-fluid {
  width: 100%;
  padding-right: 75rem;
  padding-left: 75rem;
  margin-right: auto;
  margin-left: auto;
}

.tiendaContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #fff;
  width: 300px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.438);
  box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.466);
  margin: 1rem;
  padding: 0.5rem;
}

.itemBody {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* Variables */
/* extends */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Footer */
footer {
  padding: 2rem 0;
  margin-top: 5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  background: rgba(210, 22, 44, 0.2);
}
footer p {
  margin-bottom: 0.8rem;
}

.footer-tienda ul {
  list-style: none;
  display: flex;
  padding-left: 0;
}

.footer-tienda i {
  margin: 0.3rem;
  font-size: 2rem;
  padding: 0;
}

.contacto {
  flex-basis: 45%;
}

.contacto form {
  display: grid;
  grid-template-rows: 2rem 2rem 2rem;
  grid-template-columns: auto auto;
  align-content: center;
  grid-gap: 0.7rem;
}

.contacto #nombre, #emailContacto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.contacto textarea {
  grid-row: 1/4;
  grid-column: 2/3;
}

.contacto button {
  grid-row: 3/4;
  grid-column: 1/2;
  justify-self: start;
}

.boton {
  padding: 0.4rem;
  border-color: #d2142c;
  background-color: #d2142dc0;
  border-radius: 0.2rem;
  cursor: pointer;
  font-weight: 400;
  font-size: 0.8rem;
}
.boton:hover {
  border-color: #fff;
  color: #fff;
  background-color: #000;
}

input, textarea {
  background: rgba(210, 22, 44, 0.2);
}

/* Fin Footer */
/* medias queries */
/* Medias para Header */
@media screen and (max-width: 768px) {
  header .navContainer .menuDesplegable {
    flex-direction: column;
    flex-wrap: nowrap;
    margin-bottom: 1rem;
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  header .navContainer .menuDesplegable li {
    width: 90%;
    text-align: center;
    margin: 0.3rem 0;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .espacio, .espacio .span {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .espacio .span {
    margin-left: 0;
  }
}
/* Medias para index, tienda, accesorios, videojuegos */
@media (max-width: 767px) {
  .item-image {
    width: auto;
    max-width: none;
    height: 100%;
    max-height: 300px;
  }
}
@media (max-width: 366px) {
  h1 {
    font-size: 2.2rem;
  }
}
@media (max-width: 767px) {
  .fondo-tienda {
    background-color: #d9dddf;
    padding: 1.8rem 0;
    margin: 10px 20px 10px;
    display: inline-flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}
@media (max-width: 767px) {
  .descripcion, .precio {
    font-size: 15px;
    padding: 0;
    margin: 5px 5px 5px 5px;
    overflow: hidden;
    display: -webkit-box;
    line-height: initial;
  }
}
/* Variables */
.container-fluid {
  width: 100%;
  height: 90%;
}

/* extends */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
