@import "../base/variables";
/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
  }
  
  html {
    font-size: 62.5%;
    /* 1rem = 10px */
  }
  
  body {
    font-family: "Lato", sans-serif;
    background-color: $color--blanco;
  }
  
  h1 {
    text-align: center;
    padding: 10px;
    margin: 10px;
    font-size: 20rem;
    color: $color-rojo;
  }
  
  h2 {
    text-align: center;
    font-size: 3rem;
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: $color-rojo;
  }
  
  a {
    text-decoration: none;
  }
  
  p {
    margin-block-start: 0;
    margin-block-end: 0;
  }